@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}
ul li{
    margin: 0;
    padding: 0;
}
.mainHead{
    padding: 40px 0;
}

h1{
    font-size: 38px;
}



/* Header start Here */


.outerHeader{
    background-image: url(/Images/login_img/login_background_img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}


.leftlogin
{
    border: 2px solid #ea144e;
    padding: 8px 143px ;
    text-align: center;
    cursor: pointer;
    margin-left: 2px;
}

.register-btn{
    /* border-radius: 5px; */
    padding: 8px 20px ;
    background: rgb(254,251,250);
    background: linear-gradient(101deg, rgba(254,251,250,1) 0%, rgba(229,95,28,1) 0%, rgba(232,36,76,1) 100%);
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-left: 2px;
}

.register
{
    
    color: linear-gradient(101deg, rgba(254,251,250,1) 0%, rgba(229,95,28,1) 0%, rgba(232,36,76,1) 100%);
}


/* Header Ends Here */


.custom-container{
    max-width: 900px;
    margin: auto;
}

.logIn-page{
    padding: 75px 0;
}

.left-logIn{
    height: 350px;
    width: 100%;
    border-radius: 5px;
    padding: 100px 0;
    background-color: #fff;

}

.heading-left h5{
    font-weight: 800;
}

.btn-left-login{
    padding: 30px 0;
}

.right-logIn{
    height: auto;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    margin-top: -61px;
    margin-left: -30px;
    padding: 20PX;
}




/* footer css */
.mainFooter{
    background-color: #cecece;
    padding: 30px 0px;
    }
    
    .footerLeft ul li{
        display: inline;
        list-style-type: none;
        padding: 0px 10px;
        border-right: 1px solid #3f3f3f;
        margin: 0;
        
    }
    .footerLeft ul li a{
        
    }
    
    .footerRight ul li{
        display: inline;
        list-style-type: none;
        
        
    }
    
    .footerRight ul li a{
        color: #3f3f3f;
        padding: 5px;
    }

    .right-last span{
        color:#ea144e;
    }

    .font-icons ul li{
        display: inline;
        list-style-type: none;
        padding: 15px;}

        span
        {
            color: red;
        }

        .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 90px 0 0 90px;
            border-color: transparent transparent transparent #e4710d;
            margin: 36px -20px;
            margin: -4px;
            margin-left: 0px;
            margin-top: -14px;
            
          }
        